:root {
  --color--fondo : #009688;
  --panel--background : #f7f7f7;
  --shadow-rgb: 0,0,0;
  --panel-header-background: #ededed;
  --compose-input-background : #fff;


}
*{
  box-sizing: border-box;
}
#contenidoProtegido{
  height: 70vh;
  position: relative;
  background-color: rgb(229, 221, 213);
  /* background-color: inherit; */
  
}
.interactions{
  display: flex;
  padding: 5px 10px;
}
.interactions > img , .contentInput > img {
     width: 26px;
    height: 42px;
    margin-right: 8px;
}

.contentInput{
  display: flex;
  padding: 5px 10px;
  align-items: center;
}
.backgroundChat {
  background-image : url('../img/background-wsp.png');
  background-color: rgb(229, 221, 213);
  opacity: 0.06;
  width: 100%;
  height: 100%;
}
#contentChat {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent;
  padding-right: 7%;
    padding-left: 7%;
}
#panelHeader{
  background: var(--panel-header-background);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
#mensajeStart{
  padding: 6px 7px 8px 9px;
  background-color : rgb(220, 248, 198);
  box-shadow: 0 1px .5px rgba(var(--shadow-rgb),.13);
 
}


#mensajeFinal{
  padding: 6px 7px 8px 9px;
  box-shadow: 0 1px .5px rgba(var(--shadow-rgb),.13);
  background-color: white;
}
#formulario {
  background: #f0f0f0;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
#inputChat{
    padding: 9px 12px 11px;
    margin: 5px 10px;
    background-color: var(--compose-input-background);
    border: 1px solid var(--compose-input-background);
    border-radius: 21px;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: inherit;
    min-width: 0;
    min-height: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    will-change: width;
}
body{
  background: #dddbd1;
  overflow: hidden;
}
body::after{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw ;
    height: 127px;
    content: "";
    background-color: var(--color--fondo);
}
#chat { 
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb),.06),0 2px 5px 0 rgba(var(--shadow-rgb),.2);
  /* border :1px solid rgb(74, 74, 74) */
}